version: "3.8"

services:
  localstack:
    container_name: localstack_main
    image: localstack/localstack:3.0
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,ecr,iam,sts,secretsmanager # Community Edition supported services
      - DEBUG=0
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"