apiVersion: v1
kind: PersistentVolume
metadata:
  name: fabric-pv
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/tmp/fabric-network"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fabric-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi